.film-intro-container {
  width: 100%;
  height: 550px;
  border: 1px solid white;
  display: flex;
  flex-direction: column;
  background-size: 100%;
}

.film-intro {
  position: relative;
  width: 100%;
  height: 100%;
  background: rgba(39, 39, 73, 0.7);
  display: flex;
  align-items: center;
}

.film-intro img {
  position: absolute;
  left: 10%;
  height: 80%;
  border-radius: 10px;
}

.film-section {
  border: 1px solid white;
  width: 500px;
  height: 80%;
  position: absolute;
  left: 40%;
  /* text-align: center; */
}
