main {
  flex-grow: 3;
  background: linear-gradient(120deg, #233559, 60%, #732065, #a61473);
  color: white;
  padding: 20px 0px 20px 20px;
}

.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

footer {
  flex-shrink: 0;
  height: 80px;
  background-color: #233559;
  color: white;
}
